<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ dir }}">
	<head>
		<meta charset="UTF-8" />
		<meta content="true" name="HandheldFriendly" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/css/global.css"></link>
		<link rel="icon" type="image/x-icon" href="/img/fediponies.png">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<ul class="nav">
					<li class="nav-left">
						<ul class="nav">
							<li><a href="../"><big><b>{{ sitename }}</b></big></a></li>
						</ul>
					</li>
					<li class="nav-right">
						<ul class="nav">
							<li><span class="nav-btn" id="btn-lang"></span></li>
						</ul>
						<ul class="dropdown nav-lang is-hidden">
							<li><img class="icon" src="/img/globe.svg" /> {{ text.languages }}</li>
							{% for alt in alternates %}
							<li>
								<a {% if alt.lang == lang %}disabled class="is-bold is-active"{% else %}href="{{ alt.url }}"{% endif %}>{{ alt.lang }}</a>
							</li>
							{% endfor %}
						</ul>
					</li>
				</ul>
			</div>
			<h2>{{ text.tool }}</h2>
			<div class="content">
				<ul class="cards">
				{% for tool in tools %}
					<li>
						<div class="card-head">{{ tool.name }}</div>
						<div class="card-body">
							<div>{{ tool.desc }}</div>
						</div>
						<div class="card-tail">
							<div class="is-button" onclick="this.childNodes[0].click()"><a target="_blank" href="{{ tool.href }}"></a>{{ text.btn_open }}</div>
						</div>
					</li>
				{% endfor %}
				</ul>
			</div>
			<h2>{{ text.app }}</h2>
			<div class="content">
				<ul class="cards cards-small">
				{% for app in apps %}
					<li>
						<div class="card-head">{{ app.name }}</div>
						<div class="card-body">
							<div class="imgbox imgbox-small">
									<img decoding="async" loading="lazy" src="{{ app.icon }}"></img>
							</div>
							<div>
								<table>
									<tbody>
										<tr>
											<th>{{ text.os }}</th>
											<td>{% for os in app.os %}<span>{{ os }}</span> {% endfor %}</td>
										</tr>
										<tr>
											<th>{{ text.paid }}</th>
											<td class="info-expand" content="{{ app.paid }}">{{ text.paid_type }}</td>
										</tr>
										<tr>
											<th>{{ text.app_for }}</th>
											<td>{% for usage in app.usage %}<span>{{ usage }}</span> {% endfor %}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="use-html" content="{{ app.desc }}"></div>
						</div>
						<div class="card-tail">
							<div class="is-button" onclick="this.childNodes[0].click()"><a target="_blank" href="{{ app.href }}"></a>{{ text.btn_open }}</div>
						</div>
					</li>
				{% endfor %}
				</ul>
			</div>
			<h2>{{ text.inst }}</h2>
			<div class="content">
				<ul class="cards shuffler" order="0,1,2,3">
				{% for instance in instances %}
					<li category="{{ instance.category }}" weight="{{ instance.weight }}">
						<div class="card-head">{{ instance.name }}</div>
						<div class="card-body">
							<div class="imgbox">
								<img decoding="async" loading="lazy" src="{{ instance.banner }}" alt="{{ text.bannerna }}: {{ instance.name }}"></img>
							</div>
							<div>
								<table>
									<tbody>
										<tr>
											<th>{{ text.category }}</th>
											<td class="info-expand" content="{{ instance.category }}">{{ text.category_type }}</td>
										</tr>
										<tr>
											<th>{{ text.software }}</th>
											<td>{{ instance.type }}</td>
										</tr>
										<tr>
											<th>{{ text.reg_type }}</th>
											<td class="info-expand" content="{{ instance.reg }}">{{ text.reg_states }}</td>
										</tr>
										<tr>
											<th>{{ text.domain }}</th>
											<td>{{ instance.domain }}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div lang="en" class="use-html" content="{{ instance.desc }}">{{ instance.desc }}</div>
						</div>
						<div class="card-tail">
							<div class="is-button" onclick="this.childNodes[0].click()"><a target="_blank" href="{{ instance.target }}"></a>{{ text.btn_open }}</div>
						</div>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="footer">Created and maintained by Taskforce Horseshoe.{% if contributors %}<br/>Contributors of this page: {% for contributor in contributors %}{{contributor}}{% if loop.last %}{% else %}, {% endif %}{% endfor %}{% endif %}</div>
		<script src="/js/global.js" defer></script>
	</body>
</html>
